#######################
# Configuration file
#######################

### General ###

# Uncomment to set production mode
#NODE_ENV=production

# Set it to YES to run periodic tasks
# If you have multiple servers, set this to YES only on a single server
RUN_TASKS=YES

# External URI of the bridge
EXTERNAL_URI=http://localhost

# List of allowed origins (CORS)
ALLOWED_ORIGINS=http://localhost,http://localhost:8080

# Set it to YES if you are using a reverse proxy or a load balancer
USING_PROXY=NO

# Number of worker processes to use
# Set it to 0 to use the number of CPUs
WORKERS_NUMBER=1

# Max size of any uploaded file in bytes
MAX_UPLOAD_FILE_SIZE=1073741824

# Serve swagger documentation at /api-docs?
SERVE_SWAGGER_DOCS=YES

# ACME challenge (Let's Encrypt / Cert-bot)
SERVE_ACME_CHALLENGE=NO
ACME_CHALLENGE_PATH=/var/www/certbot/.well-known/acme-challenge/

### Authentication ###

# Type of JWK set (LOCAL or REMOTE)
SIMPL_JWK_SET_TYPE=LOCAL

# In case of LOCAL JWK set, this is the path to the JSON file
SIMPL_JWK_SET_FILE_PATH=./test/keys/public-key-set.json

# In case of REMOTE JWK set, this is the URL where it can be pulled from
SIMPL_JWK_SET_URL=https://www.googleapis.com/oauth2/v3/certs

# The required value to be set in the `iss` claim of the JWT. 
SIMPL_ISSUER=simpl-idp

# The required value to be set in the `aud` claim of the JWT.
SIMPL_AUDIENCE=evm-bridge

### LOGS ###

LOG_REQUESTS=YES
LOG_INFO=YES
LOG_DEBUG=NO
LOG_TRACE=NO

### HTTP ###

SERVER_HTTP_PORT=80
#SERVER_HTTP_ADDRESS=127.0.0.1

### HTTPS ###

SERVER_HTTPS_PORT=443
#SERVER_HTTPS_ADDRESS=127.0.0.1
#SERVER_HTTPS_CERTIFICATE=/path/to/certificate.crt
#SERVER_HTTPS_KEY=/path/to/key
#SERVER_REDIRECT_SECURE=YES

### Database ###

# MongoDB
DB_TYPE=MONGO
DB_MONGO_URL=mongodb://127.0.0.1:27017/evm_bridge

# MySQL
#DB_TYPE=MySQL
#DB_HOST=127.0.0.1
#DB_PORT=3306
#DB_USER=root
#DB_PASSWORD=password
#DB_NAME=evm_bridge
#DB_MAX_CONNECTIONS=4
#DB_TRACE=NO

# Postgres
#DB_TYPE=Postgres
#DB_HOST=127.0.0.1
#DB_PORT=5432
#DB_USER=postgres
#DB_PASSWORD=password
#DB_NAME=evm_bridge
#DB_MAX_CONNECTIONS=4

### File storage ###

# Mode for the file storage system
# FS - File system
FILE_STORAGE_MODE=FS

# Secret to authorize private files
# Change this to a random string for security in production
FILE_STORAGE_PRIVATE_SECRET=secret

# Base URL of the static files serving system
# Use the backend server by default
FILE_STORAGE_SERVER_URL=http://localhost/static/

# Path of the folder to store the files
FILE_STORAGE_FS_PATH=./data

### Blockchain ###

BLOCKCHAIN_NODE_PROTOCOL=http
BLOCKCHAIN_NODE_RPC_URL=http://localhost:8545

# Set it to yes to sync events from the blockchain into the database
# Do this only with a single server
BLOCKCHAIN_SYNC=YES

# First block to sync
BLOCKCHAIN_SYNC_FIRST_BLOCK=0

# Max number of blocks to sync in a single step
BLOCKCHAIN_SYNC_RANGE=100

# Expected block time in milliseconds
BLOCKCHAIN_SYNC_TIME=1000

### Tests ###

# MongoDB to use for tests
TEST_DB_MONGO_URL=mongodb://127.0.0.1:27017/test_database

